<% unless current_user?(@user) %>
    <div id="follow_form">
        <%= react_component('follow_button',
                            user: @user.attributes,
                            relationship: current_user.active_relationships.find_by(followed_id: @user.id)&.attributes) %>
    </div>
<% end %>
